/*Copyright 2019 J.P.Reilly
 *
 *Licensed under the Apache License, Version 2.0 (the "License");
 *you may not use this file except in compliance with the License.
 *You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 *Unless required by applicable law or agreed to in writing, software
 *distributed under the License is distributed on an "AS IS" BASIS,
 *WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *See the License for the specific language governing permissions and
 *limitations under the License.
 */

table{
    padding: 6px;
    border-spacing: 0px;
    background-color: firebrick;
    border: 2px solid black;
}
            
th{
    background-color: #f8c9a0;
}
            
tbody{
    display: block;
    border: 6px solid #f8c9a0;
}
            
td{
    padding: 3px;
    background-color: sandybrown;
    width: 325px;
    height: 200px;
    text-align: left;
    vertical-align: top;
}            
